<section class="dm-column side-box dm-dice-container">
   <div class="dice-results">
    <p class="dice-results-text" id="result-text"></p>
   </div>
   <div class="dice-main">
            <div class="dice-images">
                <img class="dice-image" src="/images/dice/d4.png" alt="d4">
                <img class="dice-image" src="/images/dice/d6.png" alt="d6">
                <img class="dice-image" src="/images/dice/d8.png" alt="d8">
                <img class="dice-image" src="/images/dice/d10.png" alt="d10">
                {{!-- <img class="dice-image" src="/images/dice/d100.png" alt="d100"> --}}
                <img class="dice-image" src="/images/dice/d12.png" alt="d12">
                <img class="dice-image" src="/images/dice/d20.png" alt="d20">
            </div>
            <div class="dice-numbers">
                <div class="number-holder" id="d4-holder"></div>
                <div class="number-holder" id="d6-holder"></div>
                <div class="number-holder" id="d8-holder"></div>
                <div class="number-holder" id="d10-holder"></div>
                {{!-- <div class="number-holder" id="d100-holder"></div> --}}
                <div class="number-holder" id="d12-holder"></div>
                <div class="number-holder" id="d20-holder"></div>
            </div>
            <div class="dice-buttons">
                <div class="button-row">
                    <button class="add-dice" id="add-d4">+</button>
                    <button class="sub-dice" id="sub-d4">-</button>
                </div>
                <div class="button-row">
                    <button class="add-dice" id="add-d6">+</button>
                    <button class="sub-dice" id="sub-d6">-</button>
                </div>
                <div class="button-row">
                    <button class="add-dice" id="add-d8">+</button>
                    <button class="sub-dice" id="sub-d8">-</button>
                </div>
                <div class="button-row">
                    <button class="add-dice" id="add-d10">+</button>
                    <button class="sub-dice" id="sub-d10">-</button>
                </div>
                {{!-- <div class="button-row">
                    <button class="add-dice" id="add-d100">+</button>
                    <button class="sub-dice" id="sub-d100">-</button>
                </div> --}}
                <div class="button-row">
                    <button class="add-dice" id="add-d12">+</button>
                    <button class="sub-dice" id="sub-d12">-</button>
                </div>
                <div class="button-row">
                    <button class="add-dice" id="add-d20">+</button>
                    <button class="sub-dice" id="sub-d20">-</button>
                </div>
            </div>
   </div>
   <div class="dice-roll">
        <button class="roll-dice" id="roll-btn">Roll</button>
   </div>
   <div class="clear">
        <button class="clear-btn" id="clear-btn">Clear</button>
   </div>
</section>

<section class="dm-column center-box">
    <section class="dice-history-container">
        <div class="dice-history-top-text">Roll History</div>
        <div class="dice-history-holder">
            <table class="history-table">
                <tr class="history-row" id="history-table-row">
                </tr>
            </table>
        </div>
        <div class="clear history-bottom">
            <button class="history-clear clear-btn" id="history-clear-btn">Clear</button>
        </div>
    </section>
</section>

<section class="dm-column side-box dm-initiative-container">
   
</section>