<h3 class="login-h3"><img src="https://img.icons8.com/windows/128/null/dungeons-and-dragons--v1.png"/><br> Flowers for Mary-Ann
</h3>
<div class="section">
    <p class="lead">Create public and private session synopses or notes</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Log in with Google</a>
</div>