body {
    background: url() 0 0 no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
}

p {
    margin: 10px 0 !important;
}

.main-container {
    background: url("/images/parchment1.jpg");
    background-position: center;
    background-size: 100% 100%;
    margin: 20px;
    padding: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.651));
    border-radius: 3px;
}

.login-container {
    max-width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 80px;
}

.center {
    text-align: center;
}

.card-content > p {
    min-height: 120px !important;
}

.login-h3 {
    font-size: 2.3rem;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-div {
    max-width: 800px;
}

.creator-div {
    max-width: 300px;
}

.card
    .card-action
    a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(
        .btn-floating
    ) {
    margin-right: unset;
}

.container.footer {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
}

.bottom > p > a {
    text-decoration: underline !important;
    color: red;
}

.story-title {
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row .col.m4 {
    width: 400px;
    margin-left: auto;
    left: auto;
    right: auto;
}

.container {
    width: unset !important;
}

.login-card {
    min-width: 400px;
}
